
<div class="footer">
    
   
    <div class="social">
        <a href="https://www.linkedin.com/in/viorel-moldovan/" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/vio-m" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>


    <div class="copy">&copy; 2023 &#8226; Transforming concepts into code</div>


    <div class="top">
        <span class="hint">Go to top</span>
        <a href="#home">
            <i class="fa-solid fa-chevron-up fa-bounce"></i>
        </a>
    </div>

</div>