
<div class="footer">
    
   
    <div class="social">
        <a href="https://www.linkedin.com/in/viorel-moldovan/" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/vio-m" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>


    <div class="copy">&copy; 2024 &#8226; Transforming concepts into code</div>

    <div class="circle-wrapper">
        <a href="/#home" class="top">
            <i class="fa-solid fa-chevron-up"></i>
            <div class="circle-container">
                <svg class="score" width="80" height="80" viewBox="0 0 400 400">
                    <circle id="circleElement" class="js-circle score-circle" 
                        transform="rotate(-90 200 200)" 
                        cx="200" cy="200" r="175" 
                        stroke-dasharray="1100" 
                        stroke-width="5" 
                        stroke-dashoffset="1100" 
                        fill="none">
                    </circle>
                </svg>
            </div>
        </a>
    </div>
</div>