<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/parallax.css">
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
</head>
<body>
  <header>
    <%- include('navbar') %>
  </header>

  <section id="home">
    <div class="parallax-content" data-speed="0.0">
      <div class="container">
        <div>Welcome to My Portfolio</div> 
      </div>  
    </div>
  </section>

  <section id="about">
    <div class="parallax-content" data-speed="0.0">
    <div class="container">
      <h2>About Me</h2>
    </div>
    </div>
  </section>

  <section id="skills">
    <div class="parallax-content" data-speed="0.0">
        <div class="container">
            <div id="textwrap">
                <div id="textblock"></div>
            </div>
            <div id="skills-messages-container"> </div>
        </div>
    </div>
  </section>

  <section id="projects">
    <div id="wave">
        <div class="parallax-content" data-speed="0.0">
            <div class="container">
                <div class="carousel">
                    <div class="individual-project">
                        <img src="/images/1.jpg" alt="Project 1">
                        <div class="project-title">Project Title</div>
                        <div class="project-description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</div>
                    </div>
                    <div class="individual-project">
                        <img src="/images/2.jpg" alt="Project 2">
                        <div class="project-title">Project Title</div>
                        <div class="project-description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</div>
                    
                    </div>
                    <div class="individual-project">
                        <img src="/images/3.jpg" alt="Project 3">
                        <div class="project-title">Project Title</div>
                        <div class="project-description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</div>
                    
                    </div>
                    <div class="individual-project">
                        <img src="/images/4.jpg" alt="Project 4">
                        <div class="project-title">Project Title</div>
                        <div class="project-description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</div>
                    
                    </div>
                    <div class="individual-project">
                        <img src="/images/5.jpg" alt="Project 5">
                        <div class="project-title">Project Title</div>
                        <div class="project-description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</div>
                    
                    </div>
                    <div class="individual-project">
                        <img src="/images/6.png" alt="Project 6">
                        <div class="project-title">Project Title</div>
                        <div class="project-description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

  <footer>
    <%- include('footer') %>
  </footer>


  <!-- scripts -->
  <script>
    window.addEventListener('scroll', () => {
      const scrollPos = window.scrollY;
      const parallaxElements = document.querySelectorAll('.parallax-content');
  
      parallaxElements.forEach((element) => {
        const speed = parseFloat(element.dataset.speed); // Parse data-speed as a number
        const yPos = -scrollPos * speed;
        element.style.transform = `translateY(${yPos}px)`;
        //console.log(scrollPos, speed, yPos); // Log values inside the forEach loop
      });
    });
  </script>
  <script src="/js/smooth-scroll.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/skills.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script>
  <script src="/js/carousel.js"></script>


  <!-- https://www.vantajs.com/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.waves.min.js"></script>
  <script>
    VANTA.WAVES({
    el: "#wave",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0x394455
    })
  </script>

</body>
</html>
