
<nav class="navbar" id="navbar">
    <div class="burger-menu" id="burger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="link-container">
        <% if (isAuthenticated) { %>
            <!-- Logged In Links -->
            <a href="/">Home</a>
            <a href="/admin">Admin</a>
            <form action="/logout?_method=DELETE" method="POST">
                <button id="logout-btn" type="submit">Log Out</button>
            </form>
        <% } else { %>
            <!-- Not Logged In Links -->
            <a href="/">Home</a>
            <a href="/#about">About</a>
            <a href="/#projects">Projects</a>
            <a href="/download" target="_blank">Download CV</a>
        <% } %>
        </div>
    <div class="close-btn" id="close-btn">X</div>
</nav>
<div class="logo"><img src="/images/vm.png" alt="logo" ></div>


  