<!-- register.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/register.css">
</head>
<body>
  <header>
    <%- include('navbar', { isAuthenticated: isAuthenticated }) %>
  </header>

  <% if (flash && flash.success) { %>
    <p><%= flash.success %></p>
  <% } else if (flash && flash.error) { %>
    <p><%= flash.error %></p>
  <% } %>

  <section id="register">
    
    <div class="register-container">
        <h1>Register</h1>

        <form action="/register" method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name"  placeholder="User" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email"  placeholder="Email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password"  placeholder="Password" required>

            <input type="submit" value="Register">
        </form>
    </div>

  </section>
  <script src="/js/navbar.js"></script>
</body>
</html>