.navbar {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.7);
    transition: height 0.3s;
}
.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}
  
.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}
  
.navbar ul li a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
    padding: 0px 20px;
}
  
.navbar ul li:hover {
    background-color: #85929e;
    color: rgba(0,0,0,0.7);
}

.navbar ul li button {
    font-size: 16px;
    font-weight: 900;
    border: none;
    color: #f4f4f4;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar ul li button:hover {
    color: #85929e;
}

#logout-btn:hover{
    color: #f4f4f4;
}

.small {
    height: 10px;
}

.small ul li {
    opacity: 0; 
    transform: scale(0.5); 
    transition: opacity 0.3s, transform 0.3s;
}
.small .bar {
    opacity: 0; 
    transform: scale(0.3); 
    transition: opacity 0.3s, transform 0.3s;
}

.small ul li a {
    pointer-events: none; 
}

/* BURGER MENU */

.burger-menu {
    position: absolute;
    top: 25%;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.bar {
    width: 100%;
    height: 2px;
    background-color: #f4f4f4;
}
.burger-menu:hover > .bar {
    background-color: #85929e;
}

/* CLOSE BUTTON */

.close-btn {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 30px;
    color: #f4f4f4;
    cursor: pointer;
    display: none;
}

.navbar.expanded .close-btn {
    display: block;
}

.close-btn:hover {
    color: #85929e;
}

/* EXPANDED */

.navbar.expanded ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.7);
}
.navbar.expanded ul li {
    margin: 2rem 0;
}
.navbar.expanded #burger-menu {
    display: none;
}
.navbar.small ul {
    display: none;
}

/* @MEDIA */

@media screen and (max-width: 768px) {
    .navbar ul {
      display: none; 
    }
  
    .burger-menu {
      display: flex; 
    }
  
    .navbar.expanded ul {
      display: flex; 
      flex-direction: column;
      align-items: center;
      height: 100vh; 
      background-color: rgba(0, 0, 0, 0.7);
    }
  
    .navbar.expanded ul li {
      margin: 2rem 0;
    }

    .burger-menu .bar {
      width: 25px;
      height: 3px;
      background-color: #f4f4f4;
    }
}


