* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
*::-webkit-scrollbar { 
    display: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    height: 100vh;
    line-height: 1.6;
    overflow: scroll;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    /* Scroll Snap */
    scroll-snap-align: center;
}
.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}


/*  HOME  */


.home {
    display: flex;
    flex-direction: column;
}
.external-circle {
    width: 320px; 
    height: 320px; 
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
.circle {
    position: relative;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 1px solid #530707; 
    overflow: hidden;
}
.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.external-circle svg { 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 320px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 20s;
     -moz-animation-duration: 20s;
      -ms-animation-duration: 20s;
       -o-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}
@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}
.external-circle > svg > g > text > textPath {
    letter-spacing: 15px;
    font-family: 'Rovas Kiterjesztett', sans-serif;
}


/*  ARROW DOWN  */


.arrow {
    position: relative;
    top: 200px;
    font-size: 60px;
    text-decoration: none;
    color: #666;
}
.arrow:hover {
    color:#999;
}
.bounce {
    animation: bounce 3s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}


/*  ABOUT  SKILLS   */


.animate__animated {
    --animate-duration: 2s;
    --animate-delay: 0s;
}
.skills {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.front-skills,
 .back-skills,
  .social-skills,
    .other-skills {
    padding: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}
.skills i {
    font-size: 42px;
    padding: 20px 0;
}
.skills h2, h4 {
    text-align: start;
    padding: 10px 0;
}


/*span {
    position: fixed;
    font-size: 100%;
    cursor: default;
    transition: top 0.2s, left 0.2s, transform 0.2s;
}*/


/*    CAROUSEL    */


.carousel {
    height: 60vh;
    width: 800px;
}
.carousel button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    z-index: 999;
}
.carousel .slick-prev::before {
    font-size: 50px;
}
.carousel .slick-next::before{
    font-size: 50px;
}
.carousel .slick-dots {
    position: relative;
}
.carousel .slick-dots li button::before{
    color: #999!important;
}
.carousel-project {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    overflow: hidden;
    color: white;
}
.project-image {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 350px; 
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}
.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 0.5rem;
    opacity: 0;
    transition: 0.5s;
}
.project-image:hover .project-title{
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
}
.project-description {
    position: relative;
    max-height: 150px;
    padding: 30px 0;
    text-align: justify;
    letter-spacing: 1px;
    overflow: scroll;
}
.stack {
    display: inline-flex;
    align-items: center;
}
.stack > a {
    font-size: 20px;
    padding: 0px 20px;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.stack a:hover {
    color: lightgray;
}
.stack div {
    letter-spacing: 1px;
}





/* @MEDIA */

@media screen and (max-width: 900px) {
    .about-text,
    .slick-list {
        width: 600px;
    }
}

@media screen and (max-width: 768px) {
    .project-description {
        padding: 0;
    }

  
}
@media screen and (max-width: 650px) {
    .about-text,
    .slick-list {
        width: 500px;
    }
}


